<!-- quiz/templates/quiz/quiz_view.html -->
{% extends 'quiz/base.html' %}

{% block title %}Quiz - {{ quiz_bank.name }}{% endblock %}

{% block content %}
    <h1>{{ quiz_bank.name }}</h1>
    <form method="POST">
        {% csrf_token %}

        <!-- Hidden input to store total number of questions -->
        <input type="hidden" name="total_questions" value="{{ questions|length }}">
        
        {% for question in questions %}
            <div class="mb-3">
                <h5>{{ question.question_text }}</h5>
                {% if question.has_multiple_correct_answers %}
                    {% for option in question.options %}
                        <div>
                            <input type="checkbox" name="question_{{ question.id }}" value="{{ option }}">{{ option }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for option in question.options %}
                        <div>
                            <input type="radio" name="question_{{ question.id }}" value="{{ option }}">{{ option }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
